body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #333; /* Dark mode background color */
    color: #fff; /* Text color */
  }
  
  .timer-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); /* White box shadow for contrast */
    max-width: 80%; /* Adjusted for smaller screens */
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  #timer-label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  #timer {
    font-size: 24px;
    display: flex;
    justify-content: space-around;
  }
  
  .timer-component {
    flex: 1;
    text-align: center;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .timer-container {
      max-width: 90%;
    }
  }
  